<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <a href="/fruits/new"><button>Create a Fruit</button></a>
    <main>
      <div>
        <% for (let fruit of fruits) { %>
        <h2
          hx-get="/fruits/<%= fruit._id %>"
          hx-trigger="click"
          hx-target="div"
          hx-swap="outerHTML"
          hx-select="article"
        >
          <%= fruit.name %> - <%= fruit.readyToEat ? "Ripe" : "Not Ripe" %>
        </h2>
        <% } %>
      </div>
    </main>
  </body>
</html>
